@import "tailwindcss";

@theme {
  --color-bg-primary: var(--color-neutral-50);
  --color-bg-muted: var(--color-neutral-200);
  --color-bg-accent: var(--color-orange-500);
  --color-bg-accent-hover: var(--color-orange-600);
  --color-fg-primary: var(--color-neutral-900);
  --color-fg-muted: var(--color-neutral-500);
}
